<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>BDIwcnJZqBJ6prCXi2irSvSrELWVMCd0_DcVn1CBUEY7jn0La9FtA3zukzgjLzrvorJXSPBzrzNd5oEFvI0TaeI</string>
	<key>Network</key>
	<string>testnet</string>
</dict>
</plist>
